@import '~antd/dist/antd.css';

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  height: 100vh;
}

header h1 {
  text-align: center;
  color: white;
  font-size: calc(18px + 1.5vw);
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);
  padding-top: 0.7em;
}

header.ant-layout-header {
  background-color: #2f2525;
  height: fit-content;
  
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
